<div class="container">
  <h1 class="bg-warning text-white text-center">しおり名</h1>
  <h2 class="text-info">編集する</h2>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-1 d-flex align-items-center">
      <a class="btn btn-success" href="#" role="button">↕️</a>
    </div>      
    <div class="col-9"> 
      <div class="form-group">
        <textarea class="form-control border-info" rows="3" placeholder="旅行の予定や感想など好きなように作成してください。"></textarea>
      </div>     
    </div>
    <div class="col-2 d-flex align-items-center">
      <a class="btn btn-success" href="#" role="button">削除</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1 d-flex align-items-center">
      <a class="btn btn-success" href="#" role="button">↕️</a>
    </div>          
    <div class="col-9">
      <div class="form-group">
        <textarea class="form-control border-info" rows="3" placeholder="旅行の予定や感想など好きなように作成してください。"></textarea>
      </div>       
    </div>
    <div class="col-2 d-flex align-items-center">
      <a class="btn btn-success" href="#" role="button">削除</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="col-12">
    <a class="btn btn-success float-right" href="#" role="button">内容の追加</a>
  </div>
</div><br><br><br><br><br>
<div class="container">
  <div class="row">      
    <div class="col-8">
      <a class="btn btn-lg btn-success float-right" href="#" role="button">内容を保存する</a>      
    </div>
  </div>
</div><br><br>