<div class="container">
  <h1 class="bg-warning text-white text-center">新しいしおりの追加</h1>
</div><br>
<%= form_for @itinerary do |f| %>
  <div class="container">
    <h3 class=" text-info">グループ名</h3><br>
    <div class="row">      
      <div class="col-5">
        <%= f.select :group_id, @groups.map { |group| [group.name, group.id] }, { include_blank: '選択してください'}, { class: "custom-select border-info" , required: true } %>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <h3 class=" text-info">しおり名</h3><br>
    <div class="row">      
      <div class="col-5">      
        <div class="form-group">
          <%= f.text_field :name, class: "form-control border-info" %>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= f.submit "しおりを追加する", class: "btn btn-success btn-lg float-right" %>
        </div>
      </div>
    </div>
  </div><br><br>
<% end %>  