<div class="container">
  <h1 class="bg-warning text-white text-center">しおり名</h1>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-12">
      <div class="card border-info">
        <div class="card-body">
        </div>
      </div><br>
      <div class="card border-info">
        <div class="card-body">
        </div>
      </div><br>
      <div class="card border-info">
        <div class="card-body">
        </div>
      </div><br>
    </div>
  </div>
</div><br> 
<div class="container">
  <div class="row">      
    <div class="col-12">
      <%= link_to "編集する", edit_itinerary_path, class: "btn btn-lg btn-success float-right" %>      
    </div>
  </div>
</div><br><br>