<br>
<div class="container">
  
</div><br><br>
<div class="container">
  <p class="text-center text-primary"></p><br>
  <p class="text-center text-primary"></p>
</div><br><br>
<div class="container">
  <div class="row"> 
    <div class="col-7">
    </div>
  </div>
</div><br><br>         
