<br>
<div class="container">
  <h1 class="text-center text-warning">旅行の思い出を</h1><br>
  <h1 class="text-center text-warning">あなたと共に</h1><br> 
</div><br><br>
<div class="container">
  <p class="text-center text-info">旅行の計画や思い出を家族・仲間と共有できるサービスです。</p><br>
  <p class="text-center text-info">旅行のしおりの作成や旅行の際に使うお金の管理が簡単にできるので、計画を立てる時や旅行中に大変役立ちます。</p><br>
  <p class="text-center text-info">楽しい旅行のお供にいかがでしょうか。</p>
</div><br><br>
<div class="container">
  <div class="row"> 
    <div class="col-6">
      <%= link_to "会員登録", new_user_registration_path, class: 'btn btn-success btn-lg float-right' %>
    </div>
    <div class="col-6">
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div><br><br>         