<div class="container">
  <h1 class="bg-warning text-white text-center">グループ作成・加入</h1>
</div><br>
<div class="container">
  <h2 class="text-info">グループ作成</h2>
  <p class="text-primary">あなたがグループリーダーとなり、グループの作成に必要なID・グループ名を決めてください。</p>
</div><br>
<div class="container">
  <h4 class=" text-info">グループ名</h4><br>
  <div class="row">      
    <div class="col-5">
      <form>
        <div class="form-group">
          <input type="group_name" class="form-control border-info">
        </div>
      </form>
    </div>
  </div>
</div><br>
<div class="container">
  <h4 class=" text-info">グループID（半角英数８文字以上）</h4><br>
  <div class="row">      
    <div class="col-5">
      <form>
        <div class="form-group">
          <input type="group_id" class="form-control border-info">
        </div>
      </form>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="actions">
        <a class="btn btn-success btn-lg text-white float-right">作成</a>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">
  <h2 class="text-info">グループ加入</h2>
  <p class="text-primary">グループリーダーにグループIDを教えてもらい、こちらに入力してください。</p>
</div><br>
<div class="container">
  <h4 class=" text-info">グループID（教えてもらったID）</h4><br>
  <div class="row">      
    <div class="col-5">
      <form>
        <div class="form-group">
          <input type="group_id" class="form-control border-info">
        </div>
      </form>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="actions">
        <a class="btn btn-success btn-lg text-white float-right">加入</a>
      </div>
    </div>
  </div>
</div><br><br>  