<div class="container">
  <h1 class="bg-warning text-white text-center">記録する</h1>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-6">
      <h2 class="text-info">しおり名</h2>
    </div>
    <div class="col-6">
      <div class="form-group float-right">
        <lavel class="h3 text-primary">予算</lavel>
        <input class="form-control form-control-lg border-primary">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card border-info">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <lavel class="text-info">カテゴリー</lavel>
          <select class="form-control border-info">
            <option>選択してください</option>
            <option>交通費</option>
            <option>食費</option>
            <option>ホテル・宿</option>
            <option>お土産</option>
            <option>観光名所・施設</option>
            <option>その他</option>
          </select>
        </div>
      </div>
      <div class="row">      
        <div class="col-7">
          <div class="form-group">
            <lavel class="text-info">名称（路線名・飲食店名・ホテル名など）</lavel>
            <input class="form-control border-info">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group float-right">
            <lavel class="text-info">金額</lavel>
            <input class="form-control border-info">
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <a class="btn btn-success" href="#" role="button">削除</a>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="card border-info">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <lavel class="text-info">カテゴリー</lavel>
          <select class="form-control border-info">
            <option>選択してください</option>
            <option>交通費</option>
            <option>食費</option>
            <option>ホテル・宿</option>
            <option>お土産</option>
            <option>観光名所・施設</option>
            <option>その他</option>
          </select>
        </div>
      </div>
      <div class="row">      
        <div class="col-7">
          <div class="form-group">
            <lavel class="text-info">名称（路線名・飲食店名・ホテル名など）</lavel>
            <input class="form-control border-info">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group float-right">
            <lavel class="text-info">金額</lavel>
            <input class="form-control border-info">
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <a class="btn btn-success" href="#" role="button">削除</a>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
    　<a class="btn btn-success float-right" href="#" role="button">内容の追加</a>
    </div>
  </div>
</div><br>
<br><br>
<div class="container">
  <div class="row">      
    <div class="col-8">
      <a class="btn btn-lg btn-success float-right" href="#" role="button">内容を保存する</a>      
    </div>
  </div>
</div><br><br>