<div class="container">
  <h1 class="bg-warning text-white text-center"><%= @money_management.name %></h1>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-12">
      <div class="card border-info">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div><br> 
<div class="container">
  <div class="row">      
    <div class="col-12">
      <%= link_to "記録する", edit_money_management_path(@money_management), class: "btn btn-lg btn-success float-right" %>      
    </div>
  </div>
</div><br><br>